:root {
    --standard-bond: #666;
    --triplex-bond-red: #f00;
    --triplex-bond-orange: #f80;
    --triplex-bond-grey: #888;
}

.glide {
    transition: transform 1s;
}

.introvert:empty {
    display: none;
}

.row {
    display: flex;
}

.atomGrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-auto-columns: minmax(0, 1fr);
    justify-items: center;
    width: max-content;

    & > * {
        padding: 0px 2px;
    }

    & > p {
        text-align: center;
    }
}