:root {
    --standard-bond: #666;
    --triplex-bond-red: #f00;
    --triplex-bond-orange: #f80;
    --triplex-bond-grey: #888;
}

.glide {
    transition: transform 1s;
}

.introvert:empty {
    display: none;
}

.row {
    display: flex;
}

.atomGrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-auto-columns: minmax(0, 1fr);
    justify-items: center;
    width: max-content;

    & > * {
        padding: 0px 2px;
    }

    & > p {
        text-align: center;
    }
}

#hexagon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: max-content;
    
    & > :nth-child(1) {
        grid-area: 1 / 2 / 1 / 4 ;
    }

    & > :nth-child(2) {
        grid-area: 1 / 4 / 1 / 6;
    }
    
    & > :nth-child(3) {
        grid-area: 2 / 1 / 2 / 3;
    }

    & > :nth-child(4) {
        grid-area: 2 / 5 / 2 / 7;
    }

    & > :nth-child(5) {
        grid-area: 3 / 2 / 3 / 4 ;
    }

    & > :nth-child(6) {
        grid-area: 3 / 4 / 3 / 6;
    }
}